html,
body {
  margin: 0;
  overflow: hidden;
  background: #6a8;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

#canvas {
  position: absolute;
  left: calc(50vw - 250px);
}

#game-info {
  width: 500px;
  margin: auto;
  padding: 16px;
  text-align: center;
  color: #8da;
  font-family: serif;
  display: flex;
  justify-content: space-between;
}

#title {
  text-align: center;
  color: #8da;
  font-family: serif;
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 8px;
}

#turn-info {
  text-align: center;
  color: #8da;
  font-family: serif;
  font-weight: bolder;
}

.wh {
  width: 50%;
}
